body{
    width: 100vw;
    
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka';
}

section{
    width: 100vw;
}



.tarjeta{
    
    height:80vh;
    
}

.imagen{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.ubicacion{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ubicacion button{
    height: 25px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: rgb(179, 235, 242);
    font-family: 'Fredoka';
    font-weight: 500;
    margin-bottom: 20px;
}

.ubicacion p{
    margin-top: 0;
}

.textoUbi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.textoUbi p{
    margin-bottom: 5px;
}


.imgSalon{
    height: 200px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.confirmacion{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60vh;
}

.con{
    font-size: 50px;
    margin-bottom: 20px;
}

.textoConfir{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.textoConfir p{
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 25px;
}

.rellenar{
    margin-bottom: 15px;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 120x;
    font-family: 'Fredoka';
    width: 300px;
}

.faltan{
    display: flex;
    align-items: center;
    justify-content: center;
}

#enviar{
    height: 50px;
    width: 125px;
    border: none;
    border-radius: 5px;
    font-family: 'Fredoka';
    font-weight: 500;
}


#ubiimg{
    margin-top: 50px;
    margin-bottom: 20px;
}

#ubi{
    height: 100px;
}

#bold{
    font-weight: bold;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .polaroid {
    flex: 0 0 auto;
    scroll-snap-align: center;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    width: 250px;
    
    transition: transform 0.3s ease;
  }
  
  .polaroid:hover {
    transform: rotate(0deg) scale(1.05);
  }
  
  .polaroid img {
    width: 100%;
    height: 300px;
    display: block;
  }
  
  .caption {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }

    
    
  
