html, body{
    overflow-x: hidden;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
    font-family: 'Fredoka';
    z-index: 1;
    
}

section{
    width: 100vw;
}

main{
    background-color: black;
}

.tarjeta{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.fondo{
    top: 0;
    position: relative;
    height: 100%;
    background-image: url("/resources/img2.jpeg"); 
    background-size: cover;
    
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.textoTarjeta{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

#misXV{
    font-size: 30px;
}

#violeta{
    font-size: 100px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;

}

.ubicacion{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e5e4e2;
    margin-top: 50px;
}

.ubicacion button{
    height: 30px;
    width: 125px;
    border: none;
    border-radius: 5px;
    background-color: #e5e4e2;
    font-family: 'Fredoka';
    font-weight: 500;
    margin-bottom: 20px;
}

.ubicacion p{
    margin-top: 0;
}

.textoUbi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.textoUbi p{
    margin-bottom: 5px;
}


.imgSalon{
    height: 250px;
    width: 320px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 25px;
    background-image: url("/resources/Club.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    
}

.confirmacion{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e5e4e2;
    height: 50vh;
}

.con{
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}

.textoConfir{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.textoConfir p{
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 20px;
}

.rellenar{
    margin-bottom: 20px;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 120x;
    font-family: 'Fredoka';
    width: 150px;
}

.faltan{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e4e2;
    font-size: 20px;
}

#enviar{
    height: 30px;
    width: 125px;
    border: none;
    border-radius: 15px;
    font-family: 'Fredoka';
    font-weight: 500;
}


#ubiimg{
    margin-top: 50px;
    margin-bottom: 20px;
}

#ubi{
    height: 100px;
}

.bold{
    font-weight: bold;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin-bottom: 40px;
}


.carousel::-webkit-scrollbar {
    display: none;
}
  
.polaroid {
    flex: 0 0 auto;
    scroll-snap-align: center;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    width: 250px;
    transition: transform 0.3s ease;
  }
  
.polaroid:hover {
    transform: rotate(0deg) scale(1.05);
  }
  
.polaroid img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
  }
  
.caption {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    opacity: 0;
  }


button{
    transition: 0.5s;
}

button:active{
    opacity: 0.8;
    transform: scale(0.9);
  }

#confirmar{
    margin-top: 5px;
    font-size: 18px;
}
